svg {
    display: block;
    margin: auto;
}


h1 {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    text-align: center;
    
}
#button {
    background-color: #13cd6d;
    padding: 20px 30px;
    font-family: 'Arimo', sans-serif;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: none;
/*    border-radius: solid 10px white;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}